@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("../web-fonts-with-css/css/fontawesome-all.css");
@import url(../css/bootstrap.css);
@import url(../css/bootstrap-grid.css);
@import url(../css/bootstrap-reboot.css);
@import url("owl.carousel.css");
@import url("owl.theme.default.css");
a:hover {
  color: #e24545;
  text-decoration: none;
  border: none; }

header ul {
  list-style: none; }
  header ul li {
    display: inline-block;
    margin-left: 21px; }
    header ul li a {
      color: #444444;
      font: 13px 'Montserrat';
      font-weight: 700;
      text-transform: uppercase; }
    header ul li a:after {
      margin-top: -40px;
      display: block;
      width: 10px;
      height: 2px;
      content: "";
      background-color: transparent;
      transition: 0.3s; }
    header ul li a:hover:after {
      background-color: #e24545; }

.verticalCenter {
  line-height: 7em; }

.logoStyle {
  margin-top: 30px; }
  .logoStyle h1 {
    font: 26px 'Montserrat';
    font-weight: 700;
    color: #e24545; }
    .logoStyle h1 span {
      color: #222222; }
  .logoStyle h2 {
    font: 12px 'Montserrat';
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 11px;
    margin-top: -8px; }

.wishlist {
  background-image: url("../images/bgwishlogo.jpg");
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 50px; }
  .wishlist .heightSize {
    height: 150px; }
  .wishlist h3 {
    font: 26px 'Montserrat';
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    margin-top: 60px; }
  .wishlist ul {
    margin-top: 62px; }
    .wishlist ul li {
      display: inline-block; }
      .wishlist ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #444444;
        font: 12px 'Montserrat';
        font-weight: 400;
        letter-spacing: 1px; }
    .wishlist ul li:last-child a {
      color: #888888; }

.mainblock .phoneblock {
  padding-top: 30px;
  border: solid 1px #eeeeee;
  margin-bottom: 50px;
  position: relative; }
.mainblock .phoneblock:hover {
  background-color: #f6f6f6; }
.mainblock .imgbox {
  margin: auto;
  width: 144px;
  height: 184px; }
.mainblock .imgbox:after {
  margin-top: 38px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 10px;
  height: 2px;
  content: "";
  background-color: #e24545; }
.mainblock h4 {
  margin-top: 62px;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: #222222;
  font: 14px 'Montserrat';
  font-weight: 700; }
.mainblock h5 {
  margin-bottom: 25px;
  color: #e24545;
  font: 16px 'Montserrat';
  font-weight: 700; }
  .mainblock h5 span {
    color: #888888;
    font-size: 14px;
    margin-left: 10px; }
  .mainblock h5 span:after {
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
    width: 25%;
    height: 1px;
    content: "";
    background-color: #888888;
    margin-left: 134px; }
.mainblock .clearbtn {
  width: 120px;
  height: 38px;
  background-color: transparent;
  color: #444444;
  font: 12px 'Montserrat';
  font-weight: 400;
  border-radius: 0;
  border: solid 2px #444444;
  text-transform: uppercase;
  margin-bottom: 40px; }
.mainblock input {
  width: 100%;
  height: 38px;
  background-color: transparent;
  color: #444444;
  font: 12px 'Montserrat';
  font-weight: 400;
  border-radius: 0;
  border: solid 2px #444444;
  margin-bottom: 40px;
  padding-left: 20px; }
.mainblock button {
  background-color: transparent;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  color: #222222;
  border: solid 1px #eeeeee;
  padding: 9px; }
.mainblock button:hover {
  color: white;
  background-color: #e24545;
  border: solid 1px transparent; }
.mainblock .removeblock {
  position: absolute;
  width: 254px;
  height: 262px;
  z-index: 2;
  top: 0; }
  .mainblock .removeblock .btndefault {
    color: transparent;
    background-color: transparent;
    border: solid 2px transparent;
    width: 170px;
    height: 40px;
    z-index: 3;
    margin-top: 110px;
    font: 12px 'Montserrat';
    font-weight: 400; }
.mainblock .removeblock:hover {
  background-color: rgba(49, 49, 49, 0.6);
  transition: 0.3s; }
  .mainblock .removeblock:hover .btndefault {
    color: white;
    border: solid 2px white; }
.mainblock .pagebtn {
  color: #888888;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  border: solid 2px #dddddd;
  border-radius: 0;
  width: 35px;
  height: 35px;
  margin-top: 30px;
  margin-right: 8px;
  font: 12px 'Montserrat';
  font-weight: 400;
  padding: 5px; }
.mainblock .pagebtn:hover {
  border-color: #444444;
  color: #e24545;
  font-weight: 700; }

.service {
  margin-top: 100px;
  margin-bottom: 100px; }
  .service .smallimg {
    font-size: 24px;
    color: #222222;
    margin-right: 13px; }
  .service .owl-carousel:before {
    margin-top: -22px;
    margin-bottom: 22px;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #ffffff; }
  .service h4 {
    text-transform: uppercase;
    color: #222222;
    font: 16px 'Montserrat';
    font-weight: 700; }
  .service h5 {
    text-transform: capitalize;
    color: #222222;
    font: 12px 'Montserrat';
    font-weight: 400; }
  .service h5:after {
    margin-top: 15px;
    display: block;
    width: 10px;
    height: 2px;
    content: "";
    background-color: #cccccc; }
  .service .bordercustom {
    border: solid 2px #222222;
    padding: 20px; }

.prefooter {
  background-color: #f6f6f6;
  border-top: solid 3px #dddddd;
  padding: 60px 0 45px; }
  .prefooter p {
    text-transform: uppercase;
    color: #444444;
    margin-top: 10px;
    font: 12px 'Montserrat';
    font-weight: 400; }
  .prefooter input {
    border-radius: 0;
    background-color: #f6f6f6;
    color: #888888;
    font: 11px 'Montserrat';
    height: 50px;
    font-weight: 400;
    padding-left: 20px;
    text-transform: uppercase; }
  .prefooter a {
    margin-right: -6px;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 14px;
    color: #999999;
    border: solid 1px #eeeeee;
    padding: 12px;
    text-align: center; }
    @media screen and (max-width: 1200px) {
      .prefooter a {
        margin-top: 10px; } }
  .prefooter a:hover {
    color: white;
    background-color: #e24545; }

footer {
  background-color: #e6e6e6;
  padding: 40px 0 30px; }
  footer p {
    color: #888888;
    font: 11px 'Montserrat';
    text-transform: uppercase;
    margin-top: 5px; }
    footer p span {
      color: #444444; }
  footer a {
    margin-right: 5px; }
    @media screen and (max-width: 996px) {
      footer a img {
        margin-top: 10px; } }

.btndefault {
  border-radius: 0;
  border: solid 2px #444444;
  background-color: white;
  width: 120px;
  height: 48px;
  color: #444444;
  font: 12px 'Montserrat';
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px; }

.btndefault:hover {
  background-color: #e24545;
  border-color: #e24545; }

.error {
  color: red !important; }

.error-text {
  border: 1px solid red !important; }

/*# sourceMappingURL=style.css.map */
